@{
    ViewBag.Title = "Tips And Tricks";
    Layout = "~/Views/Shared/_myWeb1.cshtml";
}

<h2 style="text-align:center">Tips And Tricks</h2>
<hr />
<br />
<br />
<div style="height:auto;margin-left:100px">
<h1 style="color:darkgreen ;font-size:large"> How to Freeze Bread/Buns/Pastries</h1>
<p>
    I've been asked this question many times, so figured it would be good to have it on the discussion board.
</p>
<p> You can freeze most of your dough products like Chicken Bread, Savoury Croissants, Oven Fold overs, Triangle Buns, Meatpies, Chicken pies, Kabab buns etc etc</p>
<p>This is how you do it.</p>
<p>
    Bake the item, but for about three-quarters of the time specified in the recipe and without applying the egg wash (beaten egg that is brushed on the top of the bread for extra color). Remove and set aside to cool completely. You can keep it covered during this time.
</p>

</div>
<div style="height:auto;margin-left:100px">
<h1 style="color:darkgreen "> How to test Baking Powder and Baking Soda for Freshness</h1>
<p>
    Baking powder and baking soda are pantry ingredients that don’t always have a high turnover. If you bake irregularly, chances are good that you’ll have that box of baking soda on the shelf for a very long time. Even if you bake regularly, it takes a while for a container of baking powder to get used up – not to mention that it is easy to lose a partially used container in the back of a crowded pantry.
 </p>

</div>
<div style="height:200px;margin-left:100px">
<h1 style="color:darkgreen;font-size:larger "> How To Make Cake Flour & Self-Rising Flour</h1>
    <h1>How to Turn All-Purpose Flour into Cake Flour

</h1>
<p>Step 1: Measure out the all-purpose flour that you’ll need for your recipe.</p>

<p>Step 2: For every cup of flour you use, take out two tablespoons of flour and return it to the flour bin. Throw the cup of flour (minus the two tablespoons) into a sifter set over a bowl.</p>

<p>Step 3: Replace the two tablespoons of flour that your removed with two tablespoons of cornstarch
 </p>

</div>
<div style="height:100px"></div>